[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cfmortality"]
	path = cfmortality
	url = https://github.com/cran/cfmortality
[submodule "codexcopd"]
	path = codexcopd
	url = https://github.com/cran/codexcopd
[submodule "peermodels"]
	path = peermodels
	url = https://github.com/cran/peermodels
